@font-face {
  font-family: "Autorich-sans-lite";
  src: url('./assets/autorich-sans-lite.ttf');
}

/* estilos generales y resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


::-webkit-scrollbar {
  display: none;
}

body {
  min-height: 100vh;
}

:root {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

body {
  margin: 0;
  padding: 0;
  background-color: #242424;
  font-size: 13px;
  min-width: 100%;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: #d0d0d7;
}

a:hover {
  filter: drop-shadow(0 0 2em #646cffaa);

}

/* estilos del header */

.logo-container {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: .5rem;
}

.logo {
  height: 4em;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 20px;
}

.logo-container:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  text-shadow: 0 0 2em #646cffaa;
}

header {
  width: 100%;
  /* display: block; */
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 3rem;
  padding: 0 5rem;

}

header nav ul {
  display: flex;
  gap: 2rem;
  list-style-type: none;
  font-family: "Autorich-sans-lite";
  font-size: large;
}

nav ul li a {
  padding: 1rem;

  border-radius: 10px;
  transition: all 2s;
}

nav ul li a:hover {
  color: #f3f3ff;
  transition: all 2s;
  background-color: #dedef977;
  filter: drop-shadow(0 0 4em rgb(41, 48, 151));
}

/* Configuracion general para varias secciones y Footer */
main {

  margin: 0 auto;
  text-align: center;
  width: 79vw;

}

.team,
.about,
.contact {
  opacity: 1;
  background-image: none;
  color: #f3f3ff81;
  text-shadow: 1px aliceblue solid;
  transition: all 2s;
}

header,
footer {
  position: fixed;
  background-color: rgba(74, 75, 75, 0.354);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.17);
  backdrop-filter: blur(5px);
}

footer {
  display: flex;
  height: 2.3rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* Sección Home */
.home {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;

}

.home .logo-container {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  font-size: 1.5rem;
  height: 60vh;
}

.home .skew-container {
  justify-self: flex-end;
  height: 100vh;
  width: 100vw;
  background-color: #d0d0d7;
  transform: skew(20deg);
  z-index: -1;
  overflow: hidden;
  background-color: #242424;
}

.home .skew-container img {
  height: 100%;
  width: 99.99%;
  filter: blur(1px);
  opacity: .7;
}

.logo-home {
  width: 20rem;
  height: 10rem;
  border-radius: 20px;
}

aside {
  margin-top: 30rem;
}